body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.table-wrap {
    /*width: 400px;*/
    margin-bottom: 50px;
    margin-right: auto;
    margin-right: auto;
    /*height: 300px;*/
}

.table-cell {
    display: inline-block;
    width: 50px;
    height: 25px;
    /*border: 1px solid black;*/
}

.cell, .header-cell {
    text-align: center;
}

.cell {
    border: 1px solid black;
}

.header-cell {
    border: 1px solid black;
    background: lightgray;
}

table {
    margin-top: 10px;
}